<h1><%= @cohort.title %></h1>
<h5>with <%= @cohort.teacher.name %></h5>
<br>
<% if @user == @cohort.teacher %>
  <%= link_to "Add an Asignment", new_cohort_assignment_path(@cohort) %>
<%end%>
<br>
<% @cohort.assignments.each do |a| %>
  <%= link_to a.title, cohort_assignment_path(@cohort,a) %><br>
<%end%>
<br>
<% if @user.current_role = "Student" %>
  <%= link_to "Join this class", new_cohort_user_cohort_path(@cohort) %>
<%end%>
<br>
<br>
<h4> Students </h4>
<% @cohort.students.each do |s| %>
<%= s.name %>
<br>
<%end%>
