
<center><h2><%= @assignment.title %> for <%= @assignment.cohort.title %></h2>

<br>

<% if @user.role.name == "Student" %>

  <% if @completed_paper.present? && @reviewed_by_paper.present?%>

    <p>You have completed assignment</p>
    <br>
    <p>You can view your paper and review here:</p>
    <br>
    <div class="btn btn-primary" style="padding: 0px">
      <%= link_to @completed_paper.title, cohort_assignment_paper_path(@cohort,@assignment,@completed_paper), :class => "btn" %>
    </div>

  <% elsif @reviewed_for_paper.present? && @reviewed_by_paper.present?%>

      <div class="btn btn-primary" style="padding: 0px">
        <%= link_to "Edit your Paper",edit_cohort_assignment_paper_path(@cohort,@assignment,@reviewed_for_paper), :class => "btn" %>
      </div>

  <% elsif  @authored_paper.present? && @reviewed_by_paper.nil? && @review_ready_paper.present? %>

    <h4>Papers Available for Review:</h4>

    <div class="btn btn-primary" style="padding: 0px">
      <%= link_to @review_ready_paper.title, cohort_assignment_paper_path(@cohort,@assignment,@review_ready_paper), :class => "btn" %>
    </div>

  <% elsif  @authored_paper.present? && @reviewed_by_paper.nil? && @review_ready_paper.nil? %>

    <p>Waiting for an available paper to review, please check back later.</p>

  <% elsif @authored_paper.nil? %>

    <div class="btn btn-primary" style="padding: 0px">
      <%= link_to "Submit a paper", new_cohort_assignment_paper_path(@cohort,@assignment), :class => "btn" %>
    </div>

  <% else  %>

    <p>Waiting for your review, please check back later.</p>

  <%end%>

  <% elsif @user.teaches_this(@assignment)%>

    <div class="btn btn-primary" style="padding: 0px">
      <%= link_to "Edit this Assignment", edit_cohort_assignment_path(@cohort,@assignment), :class => "btn" %>
    </div>

    <div class="btn btn-primary" style="padding: 0px">
      <%= button_to "Delete this Assignment", cohort_assignment_path(@cohort,@assignment), method: :delete, :class => "btn" %>
    </div>

    <br>
    <br>

    <h4>Completed Papers:</h4>

    <% if @completed_papers.present? %>

      <% @completed_papers.each do |cp| %>

        <div class="btn btn-primary" style="padding: 0px">
          <%= link_to cp.title, cohort_assignment_paper_path(@cohort,@assignment,cp), :class => "btn" %>
        </div>

      <%end%>

  <%end%>

<%end%>
</center>
