<h1><%=@user.name%> </h1>
<br>

<% if @user == current_user%>
  <%= link_to "edit profile",edit_user_path(@user) %>
<%end%>
<br>
<br>
<h4>Currently logged in as:</h4>
<br>
<p><%= @user.current_role%><p>
<br>
<br>
<% if @user.current_role == "Teacher"%>
    <%= link_to "Add a Class", new_cohort_path%>
    <br>
    <br>
    <h3>Your current classes</h3>
    <% @teacher_cohorts.each do |tc| %>
        <%= link_to "#{tc.title}", cohort_path(tc) %>
    <%end%>
<% elsif @user.current_role == "Student" %>
    <% if @student_cohorts.present? %>
      <h4> Your current classes </h4>
      <% @student_cohorts.each do |sc| %>
        <%= link_to sc.title,cohort_path(sc) %>
      <%end%>
    <% elsif @cohorts.present? %>
        <h4> Currently available classes</h4>
        <% @cohorts.each do |c|%>
          <%= "#{c.title} with #{c.teacher.name}" %><br>
          <%= link_to "Join this class", new_cohort_user_cohort_path(c)%>
        <%end%>
    <%end%>
<%end%>
