
<center><h1> <%=@user.name%> </h1>


<% if @user == current_user%>

  <div class="btn btn-primary" style="padding: 0px">
    <%= link_to "Edit Profile",edit_user_path(@user), :class => "btn" %>
  </div>
  
<%end%>
<br>
<br>
<br>
<h4>Currently logged in as:</h4>
<br>
<p><%= @user.current_role%><p>
<br>
<br>
<% if @user.current_role == "Teacher"%>

    <h3>Your current classes:</h3>
    <% @teacher_cohorts.each do |tc| %>
      <div class="btn btn-primary" style="padding: 0px">
        <%= link_to "#{tc.title}", cohort_path(tc), :class => "btn" %>
      </div>
    <%end%>
    <br>
    <br>
    <div class="btn btn-primary" style="padding: 0px">
      <%= link_to "Add a Class", new_cohort_path, :class => "btn" %>
    </div>

<% elsif @user.current_role == "Student" %>

    <% if @student_cohorts.present? %>

      <h4> Your current classes: </h4>
      <% @student_cohorts.each do |sc| %>

        <div class="btn btn-primary" style="padding: 0px">
          <%= link_to sc.title,cohort_path(sc), :class => "btn" %>
        </div>

      <%end%>

    <% elsif @cohorts.present? %>

        <h4> Currently available classes:</h4>
        <br>
        <br>
        <% @cohorts.each do |c|%>

          <% if !c.students.include?(current_user)%>

            <h5><%= "#{c.title} with #{c.teacher.name}" %><br><h5>

              <div class="btn btn-primary" style="padding: 0px">
                <%= link_to "Join this class", new_cohort_user_cohort_path(c), :class => "btn" %>
              </div>

          <%end%>
          <br>
          <br>
        <%end%>
    <%end%>

<%end%>
</center>
