<center>
  <h2><%= @paper.title %></h2>
  <br>
  <br>
  <%= @review.content %>
  <%= form_for @paper, url: cohort_assignment_paper_path(@paper.assignment.cohort,@paper.assignment,@paper),method: :patch do |f| %>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
    <br>
    <br>
    <%= f.label :content %>
    <br>
    <%= f.text_area :content, size: "30x10" %>
    <br>
    <%= f.submit %>
  <%end%>
  </center>
