<!DOCTYPE html>
<html>
  <head>
    <title>BrailleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Braille</a>
      <form class="form-inline">
          <button class="btn btn-outline-primary" type="button"><%= link_to "Profile", user_path(current_user) %></button>
          <div style="padding-left: 10px;">
            <button class="btn btn-outline-success" type="button"><%= link_to "Logout", logout_path %></button>
          </div>
        </form>
      </nav>

    <%= yield %>
  </body>
</html>
